 {% include "layouts/header.html" %}
 <div class="content">
    <div class="bredcurmb m-0 p-0" >
        <div class="row g-3 mb-3">
            <nav style="--falcon-breadcrumb-divider: '»';" aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <div>
                     <h5 class="mb-0">Content Segment Advisory</h5>
                  </div>
                  <div class="d-flex align-items-center">
                     <li class="breadcrumb-item"><a href="">Home</a></li>
                     <li class="breadcrumb-item active" aria-current="page">Content Segment Advisory</li>
                  </div>
               </ol>
            </nav>
         </div>
    </div>

    <div class="row gx-3">
        <div class="col-xxl-2 col-xl-3">
            <div class="offcanvas offcanvas-end offcanvas-filter-sidebar border-0 bg-white dark__bg-card-dark h-auto rounded-xl-3" tabindex="-1" id="ticketOffcanvas" aria-labelledby="ticketOffcanvasLabelCard">
              <div class="offcanvas-header d-flex flex-between-center d-xl-none bg-light">
                <h6 class="fs-0 mb-0 fw-semi-bold">Filter</h6>
                <button class="btn-close text-reset d-xl-none shadow-none" id="ticketOffcanvasLabelCard" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="card scrollbar shadow-none shadow-show-xl">
                <div class="card-header bg-light d-none d-xl-block">
                  <h6 class="mb-0">Filter</h6>
                </div>
                <div class="card-body">
                  <form>
                    <div class="mb-2 mt-n2">
                      <label class="mb-1">Crop</label>
                      <select class="form-select form-select-sm">
                        <option>None</option>
                        <option>Urgent</option>
                        <option>High</option>
                        <option>Medium</option>
                        <option>Low</option>
                      </select>
                    </div>
                    <div class="mb-2">
                      <label class="mb-1 mt-2">State</label>
                      <select class="form-select form-select-sm">
                        <option>None</option>
                        <option>Email</option>
                        <option>Phone</option>
                        <option>Forum</option>
                        <option selected="selected">Facebook</option>
                        <option>Twitter</option>
                        <option>Chat</option>
                        <option>Whatsapp</option>
                        <option>Portal</option>
                        <option>Bots</option>
                        <option>External Email</option>
                        <option>Ecommerce</option>
                        <option>Feedback Widget</option>
                      </select>
                    </div>
                    <div class="mb-2">
                      <label class="mb-1 mt-2">Status</label>
                      <select class="form-select form-select-sm">
                        <option>None</option>
                        <option>Recent</option>
                        <option>Overdue</option>
                        <option>Closed</option>
                        <option>Remaining</option>
                        <option>Responded</option>
                      </select>
                    </div>
                  </form>
                </div>
                <div class="card-footer border-top border-200 py-x1">
                  <button class="btn btn-primary">+Add</button>
                </div>
              </div>
            </div>
          </div>
        <div class="col-xxl-10 col-xl-9">
            <div class="col-xl-12">
                <form action="" method="POST">
                   <div class="card-box project-box pt-2">
                      <div class="row align-items-center">
                         <div class="col-sm-5 col-md-5">
                            <h5 class="total-data-count">Total Data (s): <strong class="text-primary">4</strong></h5>
                         </div>
                         <div class="col-sm-7 col-md-7 text-end">
                            {% comment %} <a class="btn btn-outline-dark" href="{% url 'create_segment'%}"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="ms-1">Create Segment</span></a> {% endcomment %}
                         </div>
                      </div>
       
                      <div class="table-responsive mb-0 mt-2">
                         <table class="table table-bordered fs--1">
                            <thead>
                               <tr>
                                  <th class="sl-no">S. No.</th>
                                  <th>Name </th>
                                  <th class="text-center">Email </th>
                                  <th class="text-center">State </th>
                                  <th class="text-center">Crop </th>
                                  <th class="action">Action</th>
                               </tr>
                            </thead>
                            <tbody>
                               
                                  <tr>
                                     <td class="text-center">1</td>
                                     <td class="text-center">
                                        Adity Kumar
                                     </td>
                                     <td class="text-center">aditya@gmail.com</td>
                                     <td class="text-center">Bihar</td>
                                     <td class="text-center">Wheat</td>
                                     <td class="action">
                                        <a class="btn btn-link p-0 ms-2" href="" type="button" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="View" data-bs-original-title="View"><span class="text-500 fas fa-eye"></span></a>
                                        <a class="btn btn-link p-0 ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" style="margin-right: 5px;"><span class="text-500 fas fa-pencil-alt"></span></a>
                                        <a class="btn btn-link p-0 ms-2" href="javascript:void(0)" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="text-500 fas fa-trash-alt"></span></a>
                                     </td>
                                  </tr>
                                  <tr>
                                   <td class="text-center">2</td>
                                   <td class="text-center">
                                      Vikash Kumar
                                   </td>
                                   <td class="text-center">vikash@gmail.com</td>
                                   <td class="text-center">Bihar</td>
                                   <td class="text-center">Wheat</td>
                                   <td class="action">
                                      <a class="btn btn-link p-0 ms-2" href="" type="button" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="View" data-bs-original-title="View"><span class="text-500 fas fa-eye"></span></a>
                                      <a class="btn btn-link p-0 ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" style="margin-right: 5px;"><span class="text-500 fas fa-pencil-alt"></span></a>
                                      <a class="btn btn-link p-0 ms-2" href="javascript:void(0)" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="text-500 fas fa-trash-alt"></span></a>
                                   </td>
                                </tr>
                                <tr>
                                   <td class="text-center">3</td>
                                   <td class="text-center">
                                      Madav Kumar
                                   </td>
                                   <td class="text-center">madav@gmail.com</td>
                                   <td class="text-center">Bihar</td>
                                   <td class="text-center">Wheat</td>
                                   <td class="action">
                                      <a class="btn btn-link p-0 ms-2" href="" type="button" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="View" data-bs-original-title="View"><span class="text-500 fas fa-eye"></span></a>
                                      <a class="btn btn-link p-0 ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" style="margin-right: 5px;"><span class="text-500 fas fa-pencil-alt"></span></a>
                                      <a class="btn btn-link p-0 ms-2" href="javascript:void(0)" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="text-500 fas fa-trash-alt"></span></a>
                                   </td>
                                </tr>
                                <tr>
                                   <td class="text-center">4</td>
                                   <td class="text-center">
                                      Deepak Kumar
                                   </td>
                                   <td class="text-center">Deepak@gmail.com</td>
                                   <td class="text-center">Bihar</td>
                                   <td class="text-center">Wheat</td>
                                   <td class="action">
                                      <a class="btn btn-link p-0 ms-2" href="" type="button" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="View" data-bs-original-title="View"><span class="text-500 fas fa-eye"></span></a>
                                      <a class="btn btn-link p-0 ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" style="margin-right: 5px;"><span class="text-500 fas fa-pencil-alt"></span></a>
                                      <a class="btn btn-link p-0 ms-2" href="javascript:void(0)" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="text-500 fas fa-trash-alt"></span></a>
                                   </td>
                                </tr>
                               
                            </tbody>
                         </table>
                      </div>
                      <div class="d-flex d-title-box-block align-items-center justify-content-between footer-paging">
                         <div class="">
                            <a class="btn btn-primary btn-sm waves-effect width-md waves-light" href="">
                               <i class="fa fa-file-csv"></i> Export To CSV
                            </a>
                         </div>
                         <div class="">
                            <form method="get">
                               <div class="d-flex align-items-center justify-content-between">
                                  <label class="m-0">Show </label>
                                  <select class="form-control form-control-sm ml-1 mr-1" id="selectap" onchange="changePerPage(this.value)">
                                     <option value="10" >10</option>
                                     <option value="50" >>50</option>
                                     <option value="100" >100</option>
                                  </select>
                                  <label class="m-0">Entries</label>
                               </div>
                            </form>
                         </div>
                         <div class="d-flex align-items-center justify-content-between" id="pagination">
                            <h5 class="m-0"></h5>
                            <ul class="pagination m-0 ml-2 p-1">
                                <a class="btn btn-primary  btn-sm waves-effect width-md waves-light" href="">
                                    Prev
                                  </a>
                                <a class="btn btn-primary btn-sm waves-effect width-md waves-light" href="">
                                   Next
                                 </a>
                            </ul>
                         </div>
                      </div>
                   </div>
                </form>
             </div>
        </div>
        
      </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script>
   $("#country_id").on("input", function() {
      if ($("#country_id").val() != '') {
         $('#btnsearch').prop('disabled', false);
      } else {
         $('#btnsearch').prop('disabled', true);
      }
   });
</script>
<script>
   $('#selectap').change(function() {
      var per_page = $(this).val();
      if (per_page != '') {
         window.location.href = '<?= base_url('project-list') ?>' + '?per_page=' + per_page;
      }
   });
</script>
 {% include "layouts/footer.html" %}